<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  

<% else %>
       <script>
          $(document).ready(function() {
              snowFall.snow($("section"), {
                  minSize: 1,
                  maxSize: 8,
                  round: true,
                  minSpeed: 1,
                  maxSpeed: 3,
                  flakeCount: 120
              });
          });
       </script>
    </div>
  </head>
  <div class="cover">
       <div class="container">
          <div class="col-md-4 col-md-offset-7">
             <div class="panel panel-default">
               <div class="panel-heading">    
                <div class="panel-body">
                <form class="form-horizontal" role="form">
                <div class="col-sm-9">
             <h3><span class="fa fa-plane"></i> Cabin-Parts </h3>   
                  <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                <h4>Cabin-Parts Beta</h4>
                  </div>
               
                </div>
              </div>
 
  
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                 
                <%= link_to "Sign in!", signin_path, class: "btn btn-primary btn-primary" %>
                     
                <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-sm" %>
            
              <% end %> 
          </div>    
      </div>         